{% extends 'main/base.html' %}
{% block content %}
{% load mediapath %}
{% load blog_filters %}
<h2 class="hp-padding">Блог</h2>

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for blog in blog_list %}
            <div class="col">
                <div class="card shadow-sm" style="height:530px">
                    <div class="card-body" style="margin:10px">
                        <small class="text-body-secondary">Количество просмотров: {{blog.total_view}}</small>

                        <div style="height: 190px ">
                            <h5 class="card-title">{{blog.heading}}</h5>
                            <h6 class="card-title">{{blog.pk|actual_version}}</h6>
                            <p class="card-text">{{blog.text}}</p>
                        </div>
                        <div style="height:37px;  position: absolute;  top: 437px;">

                            <h6 class="card-text">Дата создания: {{blog.date_create}}</h6>
                            <p></p>
                        </div>
                        <div style="height:53px; position: absolute;  top: 467px;">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-success" onclick="location.href='{% url 'blog:view' blog.pk %}'">Просмотр
                                    </button>
                                    <button type="button" class="btn btn-sm btn-warning" onclick="location.href='{% url 'blog:update' blog.pk %}'">
                                        Изменить
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger" onclick="location.href='{% url 'blog:delete' blog.pk %}'">
                                        Удалить
                                    </button>
                                    {% if blog.published %}
                                    <button type="button" class="btn btn-sm btn-info" onclick="location.href='{% url 'blog:publish' blog.pk %}'">
                                        Опубликовано
                                    </button>
                                    {% else %}
                                    <button type="button" class="btn btn-sm btn-secondary" onclick="location.href='{% url 'blog:publish' blog.pk %}'">
                                        Не опубликовано
                                    </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <p></p>
        <button type="submit" class="btn btn-sm btn-block btn-primary" onclick="location.href='{% url 'blog:create' %}'">
            Добавить публикацию
        </button>
    </div>
</div>
{% endblock %}
