{% extends 'main/base.html' %}
{% block content %}
{% load mediapath %}
{% include 'users/messages.html' %}
<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
        <form method="post" enctype="multipart/form-data">

            <div class="col-6">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <h3 class="card-title">Вход</h3>
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">Войти</button>
                    </div>
                    <div class="card-footer">
                        <p>
                            <a href="{% url 'users:password_reset' %}">Восстановить пароль</a>
                        </p>
                        <p>
                            <a href="{% url 'users:password_new_gen' %}">Генерировать новый пароль</a>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}